@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TaskModel

<h2>Deleting Task</h2>

<h3>Would you like to continue?</h3>
<div class="container p-3 my-3 border">
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
    </dl>

    <form asp-action="DeleteTask">
        <input type="hidden" asp-for="Id" />
        <input class="btn btn-primary" type="submit" value="Yes" />
        <a class="btn btn-danger" asp-action="Index">No</a>
    </form>

</div>