@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<TaskModel>
<h1>Task List</h1>

<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="Create">New Task</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TaskName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeadLine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasImage)
                </th>
                <th></th>
                <th>Edit Action</th>
                <th>Details Action</th>
                <th>Delete Action</th>
                <th>Attachments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasImage)
                    </td>
                    <td>
                    <td class="text-center">
                        <a asp-action="Edit" class="btn btn-outline-primary" asp-route-taskId="@item.Id">Edit</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-taskId="@item.Id">Details</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-taskId="@item.Id">Delete</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="AddImage" class="btn btn-outline-danger" asp-route-taskId="@item.Id">Add Image</a>
                @*        <a asp-action="DeleteImage" class="btn btn-outline-danger @(item.HasImage?"visible-item":"hidden-item")"
                         asp-route-taskId="@item.Id">Delete Image</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>